In [1]:
from src.data.repositories import OrderRepository
from datetime import timedelta
from datetime import datetime

In [2]:
order_repo = OrderRepository()

In [3]:
end_date = datetime.now()
start_date = end_date - timedelta(days=3)

In [5]:
order_repo.get_daily_sales(
                start_date.strftime('%Y-%m-%d'),
                end_date.strftime('%Y-%m-%d')
            )

,date,location_id,order_count,customer_count,total_revenue,avg_order_value,new_customer_count,repeat_customer_count
0,2025-07-29,L2MFT6ZF700EN,83,53,1945.73,12.393185,29,24
1,2025-07-29,LAFZJ3CHGB11Z,24,20,417.71,9.282444,5,15
2,2025-07-29,LQNQPBT3X5MPM,179,119,4623.49,13.401420,47,72
3,2025-07-29,LTH1NK5TZZQ00,104,74,2245.94,11.758848,37,37
4,2025-07-29,L9QP48946MCAX,233,150,6140.08,15.350200,61,89
...,...,...,...,...,...,...,...,...
64,2025-07-27,L9AZSM88ZZNZ6,141,96,2096.05,8.697303,43,53
65,2025-07-27,LWT1BQ7SHV954,162,121,2787.48,8.421390,48,73
66,2025-07-27,L4A1AVFJR671X,689,537,10598.77,10.760173,441,96
67,2025-07-27,LC8BF20Z06Y1Q,319,275,4212.40,7.416197,143,132
68,2025-07-27,LM718ND6CZG94,67,59,756.06,8.129677,52,7